@font-face {
    font-family: 'Her-Gilwonok';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.0/Her-Gilwonok.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%; height: 100%;
    background : linear-gradient(45deg,rgb(196, 225, 255),rgb(255, 245, 177));
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Her-Gilwonok';
    width: 100%;
}



.upper-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="text"]{
    width: 250px; height: 40px;
    padding-left: 13px;
    font-family: 'Pretendard-Regular';
    font-size: medium;
    border-radius: 9px;
    border: 1px solid rgb(255, 192, 57);
    box-sizing: border-box;
    align-self: center;
}
button{
    width: 45px; height: 40px;
    text-align: center;
    cursor: pointer;
    align-self: center;
    border: none;
    outline: none;
    font-family: 'Pretendard-Regular';
    font-size: medium; font: bold;
    border-radius: 9px;
    border: 1px solid rgb(255, 192, 57);
    background-color: rgb(255, 192, 57);
    margin: 0 10px;
    box-sizing: border-box;
}
button:active{
    animation: div 3s;
    transition: ease-in-out;
}
@keyframes div{
    0% {transform: scale(1);}
    25% {transform: scale(.5);}
    50% {transform: scale(1.1);}
    75% {transform: scale(.5);}
    100% {transform: scale(1);}
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h2{
    font-family: 'Her-Gilwonok';
    text-align: center;
}
section{
    width: 100%;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
article{
    display: flex;
    flex-direction: row;
    width: 15rem; height: 3rem;
    border-radius: 10px;
    background-color: white;
    color: black;font-family: 'Pretendard-Regular';
    text-align: left;
    padding-left: 20px;
    font-size: large;
    justify-content: stretch;
    margin: 5px 0;
    transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
}
p{
    justify-content: flex-start;
    margin: 2px 0;
    align-self: center;
    width: 100%;
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}
img{
    float: right;
    justify-content: flex-end;
    align-self: center;
    margin-right: 20px;
    width: 10px;
}
.not_started{
    margin-left: 150px;
}
.done{
    margin-right: 150px;
}

@keyframes floater{
    0%{transform:
    translateY(-10%); transition: ease 0.5s;}
    50%{transform:
    translateY(10%); transition: ease 0.5s;}
}