.section-all,
.section-cool,
.section-cute,
.section-trash {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  margin-top: -4rem;
  h1 {
    margin-left: 1rem;
    font-size: x-large;
  }
}
.all-img,
.cool-img,
.cute-img,
.trash-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  img {
    width: 8rem;
    margin-top: 0.5rem;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3rem 0.5rem;
    padding: 0 1.2rem;
    padding-bottom: 1rem;
    background-color: rgb(244, 244, 244);
    border-radius: 1rem;
  }
  div:hover {
    animation: bounce 2.5s infinite;
    transition: ease;
  }
  p.wish_btn,
  p.item_name,
  p.item_price {
    margin: 0.4rem 0;
  }
  p.wish_btn:hover {
    color: palevioletred;
  }
  p.item_name {
    font-weight: 800;
  }
}
.banner {
  margin-left: 1rem;
  padding-left: 6rem;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  animation: roll 20s linear infinite;
}

.slide-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-img {
  width: 8rem;
}

ul.slide-list {
  display: flex;
  padding: 0;
  gap: 1rem;
  animation: scrollBanner 15s linear infinite;
}

@keyframes scrollBanner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}
